.map-container {
    height: 85vh;
    width: 100%;
}

.map-icon-parent {
    transform: translate(-50%, -50%);
}

.map-icon {
    height: 4rem;
    transition: 0.1s linear;
}

.map-icon:hover {
    cursor: pointer;

    transform: scale(1.2);
}

.cluster-parent-icon {
    color: black;
    font-size: 1rem;
    font-weight: 700;
}

.cluster-icon {
    height: 2.5rem;

    transform: translate(-50%, -50%);

    transition: 0.1s linear;
}

.cluster-num {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}